@using AppWebERS.Models
@model List<Usuario> 

@{
    ViewBag.Title = "ModificarCuentaUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AlertaDeshabilitacionPartial")
<div class="card my-1 mx-5 h-100">
    <div class="card-header">
        <h4>Usuarios disponibles</h4>
    </div>
    @try {
        if(Model.Count != 0) { 
    using(Html.BeginForm())
    {
        <div class="card-body table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                    <tr class="text-center">
                        <td data-info="info">@usuario.Nombre</td><!-- Reemplazar por como quiera que le pongan en el foreach a la variable. Ej: (arroba)Item.Nombre -->
                        <td data-info="info">@usuario.Rut</td>
                        <td data-info="info">@usuario.CorreoElectronico</td>
                        <td data-info="info">@usuario.Tipo</td>
                        <td>
                            <!-- Menu de opciones-->
                            <div class="dropdown d-lg-none">
                                <button class="btn btn-secondary dropdown-toggle" type="submit" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" data-flip="false">
                                    Opciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="#">Detalles</a>
                                    <a class="dropdown-item" id="btnModificar" data-toggle="modal" data-target="#exampleModal" data-nombre="@usuario.Nombre" data-rut="@usuario.Rut" data-correo="@usuario.CorreoElectronico" data-tipo="@usuario.Tipo">Modificar</a>
                                    <input type="submit" id="btnDeshabilitar" class="dropdown-item deshabilitar" href="#" data-rut="@usuario.Rut" value="Deshabilitar">
                                </div>
                            </div>
                            <!-- Si esta en pantalla grande-->
                            <div class="d-none d-lg-block">
                                <button type="button" id="btnModificar" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-nombre="@usuario.Nombre" data-rut="@usuario.Rut" data-correo="@usuario.CorreoElectronico" data-tipo="@usuario.Tipo">Modificar</button>
                                <input type="submit" id="btnDeshabilitar" data-rut="@usuario.Rut" value="Deshabilitar" class="btn btn-secondary deshabilitar" />
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
        }
    }
    catch(Exception e)
    {
       <!-- <h5>No existen usuarios registrados</h5>-->
        <div class="alert alert-warning fade show w-50 mx-auto mt-3" role="alert">
            <strong>No hay usuarios registrados!</strong> <br /> Debe registrar usuarios para poder modificar su cuenta.
        </div>
    }
</div>

@Html.Partial("_ModalPartial")


@section scripts{
    <script type="text/javascript" src="~/Scripts/listaUsuario.js"></script>
}