@model List<AppWebERS.Models.SolicitudDeProyecto>
@using Microsoft.AspNet.Identity;
@using AspNet.Identity.MySQL;
@{
    ViewBag.Title = "Listado de Solicitudes";
Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AlertaPartial")

<div class="card my-1 mx-5 h-100">
    <div class="card-header">
        <h4>Solicitudes pendientes</h4>
    </div>
    @try
    {
        if (Model.Count != 0)
        {
            using (Html.BeginForm())
            {
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre de Proyecto</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var solicitud in Model)
                            {
                                <tr class="text-center">
                                    <td>@solicitud.usuario</td>
                                    <td>@solicitud.proyecto</td>
                                    <td>
                                        <button type="button" id="btnAceptar" onclick="location.href='@Url.Action("Aceptar","SolicitudDeProyecto", new {idUsuario = @solicitud.idUsuario, idProyecto = solicitud.idProyecto})'" class="btn btn-success boton2">Aceptar</button>
                                        <button type="button" onclick="location.href='@Url.Action("Rechazar","SolicitudDeProyecto", new {idUsuario = @solicitud.idUsuario, idProyecto = solicitud.idProyecto })'" class="btn btn-danger boton">Rechazar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    }
    catch (Exception e)
    {
        <!-- <h5>No existen usuarios registrados</h5>-->
        <div class="alert alert-warning fade show w-50 mx-auto mt-3" role="alert">
            <strong>No hay solicitudes pendientes!</strong> <br />
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript" src="~/Scripts/alertaSolicitud.js"></script>
}