@*
    Vista creada por Patricio Quezada
*@

@using AppWebERS.Models;
@model Proyecto
@section cabecera{
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link href="@Url.Content("~/Content/Proyecto/Detalles.css")" rel="stylesheet" />


}
@{
    ViewBag.Title = "Detalles del proyecto";
}


@{
    var ProyectoActual = (Proyecto)ViewData["proyecto"];
    var TipoUsuario = (int)ViewData["permiso"];
}

@if(ProyectoActual != null && TipoUsuario != Proyecto.NO_AUTH) {
    <h2>Detalles</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Detalles", "Proyecto", new { id = ProyectoActual.IdProyecto })">Detalles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListarRequisitosMinimalista", "Proyecto", new { id = ProyectoActual.IdProyecto })">Requisitos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListarDiagramas", "Proyecto", new { id = ProyectoActual.IdProyecto })">Diagramas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListaUsuarios", "Proyecto", new { id = ProyectoActual.IdProyecto })">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListaActores", "Proyecto", new { id = ProyectoActual.IdProyecto })">Actores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("HistorialCambios","Proyecto",new { id = ProyectoActual.IdProyecto})">Historial de cambios</a>
        </li>
    </ul>



    <div class="container-fluid my-2">


        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => p.IdProyecto, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    @{@Html.TextBoxFor(p => ProyectoActual.IdProyecto, new { @class = "form-control font-weight-bold", disabled = "disabled" })}
                </div>
            </div>

        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Nombre, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    @if(TipoUsuario == Proyecto.AUTH_COMO_JEFE_DE_PROYECTO) {
                        {@Html.TextBoxFor(p => ProyectoActual.Nombre, new { @class = "form-control font-weight-bold", Style = "max-width:100%;" })}

                } else {
                    {@Html.TextBoxFor(p => ProyectoActual.Nombre, new { @class = "form-control font-weight-bold", disabled = "disabled", Style = "max-width:100%;" })}
            }
                </div>
                @if(TipoUsuario == Proyecto.AUTH_COMO_JEFE_DE_PROYECTO) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="nombre-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Proposito, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="proposito-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="proposito-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Alcance, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="alcance-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="alcance-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Contexto, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="contexto-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="contexto-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Definiciones, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="definicion-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="definicion-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Acronimos, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="acronimo-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="acronimo-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Abreviaturas, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="abreviatura-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="abreviatura-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.AmbienteOperacional, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="ambiente-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="ambiente-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.RelacionProyectos, new { @class = "col-md-12 control-label" })}
                <div class="col-12">
                    <div id="relacion-edit"></div>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a id="relacion-button" class="btn btn-primary text-white">Guardar cambios</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group border">
            <div class="my-2">
                @{@Html.LabelFor(p => ProyectoActual.Referencias, new { @class = "col-md-12 control-label" })}
                <div class="col-12 table-wrapper-scroll-y">
                    @*@<div id="referencia-edit"></div>*@
                    <table id="referencia_table" class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
                    <div class="mt-2 d-flex flex-row-reverse">
                        <div class="p-2">
                            <a class="btn btn-primary text-white" id="addref">Agregar Referencia</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-12">
                <div class="mt-2 d-flex flex-row-reverse">
                    <div class="p-2">
                        @Html.ActionLink("Generar PDF", "ExportarPDF", "Proyecto", new { id = ProyectoActual.IdProyecto }, new { miAtributo = "valor1", @class = "btn btn-danger" })
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    @*Modal referencias*@
    <div class="modal fade" id="referencia_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tittle_modal">Opciones de citado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


} else if(TipoUsuario == Proyecto.NO_AUTH) {
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>No tiene permisos para ver este proyecto.</h1>
        </div>
    </div>

} else {
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Proyecto no encontrado.</h1>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if(TipoUsuario != Proyecto.AUTH_COMO_SYSADMIN) {
        @Scripts.Render("/Scripts/Proyecto/Detalles_quill.min.js")
        @Scripts.Render("/Scripts/Proyecto/Referencias_modal.js")

    } else {
        @Scripts.Render("/Scripts/Proyecto/Detalles_sysadmin_quill.min.js")
        @Scripts.Render("~/Scripts/Proyecto/Sysadminconf.js")
    }



}
