@*
    Vista creada por Patricio Quezada
*@

@using AppWebERS.Models;
@model Proyecto
@{
    ViewBag.Title = "Detalles del proyecto";
}


@{
    var ProyectoActual = (Proyecto)ViewData["proyecto"];
    var TipoUsuario = (int)ViewData["permiso"];
}

@if(ProyectoActual != null) {
    <h2>Detalles</h2>
    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Detalles", "Proyecto", new { id = ProyectoActual.IdProyecto})">Detalles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Usuarios</a>
        </li>
        @{
                if(TipoUsuario == Proyecto.AUTH_COMO_JEFE_DE_PROYECTO) {
                <li class="nav-item">
                    <a class="nav-link" href="#">Agregar usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notificaciones</a>
                </li>
                }
         }
    </ul>





            using(Html.BeginForm("Detalles", "Proyecto", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {


        <div class="row">
            <div class="col-12">

                @{@Html.AntiForgeryToken()}


                <div class="form-group">
                    @{@Html.LabelFor(p => p.IdProyecto, new { @class = "col-md-12 control-label"})}
                    <div class="col-12">
                        @{@Html.TextBoxFor(p => ProyectoActual.IdProyecto, new { @class = "form-control font-weight-bold", disabled = "disabled"})}
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Nombre, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextBoxFor(p => ProyectoActual.Nombre, new { @class = "form-control font-weight-bold", placeholder = "Nombre del proyecto.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextBoxFor(p => ProyectoActual.Nombre, new { @class = "form-control font-weight-bold", placeholder = "Nombre del proyecto.", Style = "max-width:100%;" })
                                @Html.ValidationMessageFor(p => p.Nombre, "", new { @class = "text-danger" })
                            }

                        }
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Proposito, new { @class = "col-md-12 control-label" })}

                    <div class="col-12">

                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Proposito, new { @class = "form-control font-weight-bold", placeholder = "Proposito.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Proposito, new { @class = "form-control font-weight-bold", placeholder = "Proposito.", Style = "max-width:100%;" })
                                @Html.ValidationMessageFor(p => p.Proposito, "", new { @class = "text-danger" })
                            }
                        }
                    </div>

                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Alcance, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Alcance, new { @class = "form-control font-weight-bold", placeholder = "Alcance.", Style = "max-width:100%;", disabled = "disabled" })
                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Alcance, new { @class = "form-control font-weight-bold", placeholder = "Alcance.", Style = "max-width:100%;" })
                                @Html.ValidationMessageFor(p => p.Alcance, "", new { @class = "text-danger" })
                            }


                        }
                    </div>

                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Contexto, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Contexto, new { @class = "form-control font-weight-bold", placeholder = "Contexto.", Style = "max-width:100%;", disabled = "disabled" })
                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Contexto, new { @class = "form-control font-weight-bold", placeholder = "Contexto.", Style = "max-width:100%;" })
                                @Html.ValidationMessageFor(p => p.Contexto, "", new { @class = "text-danger" })
                            }

                        }

                    </div>

                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Definiciones, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Definiciones, new { @class = "form-control font-weight-bold", placeholder = "Definiciones.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Definiciones, new { @class = "form-control font-weight-bold", placeholder = "Definiciones.", Style = "max-width:100%;" })

                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Acronimos, new { @class = "col-md-12 control-label" })}

                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Acronimos, new { @class = "form-control font-weight-bold", placeholder = "Acronimos.", Style = "max-width:100%;", disabled = "disabled" })
                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Acronimos, new { @class = "form-control font-weight-bold", placeholder = "Acronimos.", Style = "max-width:100%;" })

                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Abreviaturas, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Abreviaturas, new { @class = "form-control font-weight-bold", placeholder = "Abreviaturas.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Abreviaturas, new { @class = "form-control font-weight-bold", placeholder = "Abreviaturas.", Style = "max-width:100%;" })

                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.Referencias, new { @class = "col-md-12 control-label" })}
                    <div class="col-md-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.Referencias, new { @class = "form-control font-weight-bold", placeholder = "Referencias.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.Referencias, new { @class = "form-control font-weight-bold", placeholder = "Referencias.", Style = "max-width:100%;" })

                            }

                        }
                    </div>
                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.AmbienteOperacional, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.AmbienteOperacional, new { @class = "form-control font-weight-bold", placeholder = "Ambiente operacional.", Style = "max-width:100%;", disabled = "disabled" })

                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.AmbienteOperacional, new { @class = "form-control font-weight-bold", placeholder = "Ambiente operacional.", Style = "max-width:100%;" })
                                @Html.ValidationMessageFor(p => p.AmbienteOperacional, "", new { @class = "text-danger" })
                            }

                        }

                    </div>

                </div>

                <div class="form-group">
                    @{@Html.LabelFor(p => ProyectoActual.RelacionProyectos, new { @class = "col-md-12 control-label" })}
                    <div class="col-12">
                        @{
                            if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                                @Html.TextAreaFor(p => ProyectoActual.RelacionProyectos, new { @class = "form-control font-weight-bold", placeholder = "Relación con otros proyectos.", Style = "max-width:100%;", disabled = "disabled" })
                            } else {
                                @Html.TextAreaFor(p => ProyectoActual.RelacionProyectos, new { @class = "form-control font-weight-bold", placeholder = "Relación con otros proyectos.", Style = "max-width:100%;" })

                            }
                        }
                    </div>
                </div>
                @{
                    if(TipoUsuario == Proyecto.AUTH_COMO_SYSADMIN) {
                <div class="col-12">
                    <button type="button" class="btn btn-primary">Atras</button>
                </div>
                    } else {
                        <div class="form-group">
                            <div class="col-12">
                                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    }
} else {
    <h1>Proyecto no encontrado</h1>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
