
@model List<AppWebERS.Models.NombreProyecto>

@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Lista de proyectos Asociados";
    ViewBag.Title2 = "Lista de proyectos NO Asociados";

}

<h2>@ViewBag.Title.</h2>


@{int posicion = 0; }
@foreach(var proyecto in Model)
{
    @proyecto.Nombre
}

@for (int i = 0; i < Model.Count; i++)
{

    if (Model.ElementAt(i).Nombre != "mitad")
    {

        <div class="card">
            <div class="card-header">
                @Model.ElementAt(i).Nombre
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Ver detalle</a>
            </div>
        </div>
        <br><br>
    }
    else
    {
        <h4> @posicion</h4>
        posicion = i + 1;
        <h4> @posicion</h4>
        break;
    }
}



<h2>@ViewBag.Title2.</h2>

@for (int i = 2; i < Model.Count; i++)
{



    <div class="card">
        <div class="card-header">
            @Model.ElementAt(i).Nombre
            @posicion
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Unirse</a>
        </div>
    </div>
    <br><br>


}
