@using AppWebERS.Models;
@model  Requisito
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProyectoActual = (Proyecto)ViewData["proyecto"];
    var TipoUsuario = (int)ViewData["permiso"];
    var diccionarioRequisitos = (Dictionary<Requisito, List<Requisito>>)ViewData["diccionarioRequisitos"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarRequisitosMininalista</title>
</head>
<body>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Detalles", "Proyecto", new { id = ProyectoActual.IdProyecto })">Detalles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("ListarRequisitosMinimalista", "Proyecto", new { id = ProyectoActual.IdProyecto })">Requisitos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListarDiagramas", "Proyecto", new { id = ProyectoActual.IdProyecto})">Diagramas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListaUsuarios", "Proyecto", new { id = ProyectoActual.IdProyecto })">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ListaActores","Proyecto",new { id = ProyectoActual.IdProyecto})">Actores</a>
        </li>
    </ul>
    @{
        <div class="dropdown-divider"></div>
        <div>
            @using (Html.BeginForm("GuardarRequisitoUsuarioMinimilista", "Proyecto", new
            {
                idProyecto = ProyectoActual.IdProyecto
            }, FormMethod.Post))
            {
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Agregar Requisito
                </a>

        <div class="collapse" id="collapseExample">
            <div class="card card-body w-50">
                @Html.Display("Id Requisito")
                @Html.EditorFor(m => m.IdRequisito, new { htmlAttributes = new { @class = "form-control mx-auto my-3", placeholder = "Ingrese Id del requisito de usuario" } })
                @Html.ValidationMessageFor(m => m.IdRequisito, "", new { @class = "text-danger" })

                @Html.Display(" Nombre del Requisito")
                @Html.EditorFor(m => m.Nombre, new { htmlAttributes = new { @class = "form-control mx-auto m-3", placeholder = "Ingrese nombre del requisito de usuario" } })
                @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })

                        <button class="btn btn-primary w-50 mx-auto" type="submit">Guardar Cambios</button>
                    </div>
                </div>
            }
            @foreach (KeyValuePair<Requisito, List<Requisito>> r in diccionarioRequisitos)
            {
                <div>
                    <div id="accordion" role="tablist" class="mt-1">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#@r.Key.IdRequisito" aria-expanded="true" aria-controls=@r.Key.IdRequisito>
                                        @r.Key.IdRequisito - @r.Key.Nombre
                                    </a>
                                </h5>

                            </div>
                            <div id=@r.Key.IdRequisito class="collapse" role="tabpanel" aria-labelledby="headingOne">

                                @foreach (Requisito req in r.Value)
                                {
                                    <div class="card-body py-1">
                                        <div class="card w-100 mb-1">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h5 class="mb-0">
                                                    @req.IdRequisito - @req.Nombre
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="d-flex justify-content-end mb-1 mr-2">
                                    <a class="btn btn-primary" data-toggle="collapse" href="#@r.GetHashCode()" aria-expanded="false" aria-controls=@r.GetHashCode()>
                                        Agregar
                                    </a>
                                </div>

                                @using (Html.BeginForm("AgregarRequisitoDeSoftwareMinimalista", "Proyecto", new
                                {
                                    idRequisitoUsuario = @r.Key.IdRequisito,
                                    idProyecto = ProyectoActual.IdProyecto
                                }, FormMethod.Post))
                                {

                                    <div class="collapse" id=@r.GetHashCode()>
                                        <div class="card card-body w-100">
                                            <div class="form-inline w-100 d-flex flex-wrap justify-content-center">
                                                <div class="col-3">
                                                    @Html.Display("Id Requisito")
                                                    @Html.EditorFor(m => m.IdRequisito, new { htmlAttributes = new { @class = "form-control  my-3 w-100", placeholder = "Ingrese Id del Requisito", style = "max-width:100%" } })
                                                </div> -
                                                <div class="col-8">
                                                    @Html.Display(" Nombre del Requisito")
                                                    @Html.EditorFor(m => m.Nombre, new { htmlAttributes = new { @class = "form-control my-3 w-100", placeholder = "Ingrese Nombre del requisito", style = "max-width:100%" } })
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }







</body>
</html>
