@model AppWebERS.Models.DiagramaModels
@{

    ViewBag.Title = "Diagramas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Diagramas</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Detalles", "Proyecto", new { id = @Model.IdProyecto})">Detalles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListarRequisitosMinimalista", "Proyecto", new { id = @Model.IdProyecto })">Requisitos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("ListarDiagramas", "Proyecto", new { id = @Model.IdProyecto })">Diagramas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListaUsuarios", "Proyecto", new { id = @Model.IdProyecto})">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListaActores", "Proyecto", new { id = @Model.IdProyecto})">Actores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("HistorialCambios","Proyecto",new { id = @Model.IdProyecto})">Historial de cambios</a>
    </li>
</ul>

<style>
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
</style>




<div class="dropdown-divider"></div>

<a href="../../Diagrama/SubirDiagrama/@Model.IdProyecto" class="btn btn-primary w-auto">Agregar diagrama</a>

<div>
    @if (Model.urlsCasosDeUso != null)
    {
        if (Model.urlsCasosDeUso.Count > 0)
        {
            if (Model.urlsCasosDeUso.Count == 1)
            {
                <h3 style="margin-top:20px;margin-bottom:20px">Diagrama Caso de Uso</h3>
            }
            else
            {<h3 style="margin-top:20px;margin-bottom:20px">Diagramas de Casos de Uso</h3> }

            <div class="card-deck">
                @foreach (var im in Model.urlsCasosDeUso)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img id=@im.nombre src=@im.url alt="Card image cap" onclick="handleClick(this);" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div>
    @if (Model.urlsaArquiFisica != null)
    {
        if (Model.urlsaArquiFisica.Count > 0)
        {
            if (Model.urlsaArquiFisica.Count == 1)
            {<h3 style="margin-top:20px;margin-bottom:20px">Diagrama Arquitectura Física</h3> }
            else
            {<h3 style="margin-top:20px;margin-bottom:20px">Diagramas Arquitectura Física</h3> }

            <div class="card-deck">
                @foreach (var im in Model.urlsaArquiFisica)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img id=@im.nombre src=@im.url alt="Card image cap" onclick="handleClick(this);" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div>
    @if (Model.urlsArquiLogica != null)
    {
        if (Model.urlsArquiLogica.Count > 0)
        {
            if (Model.urlsArquiLogica.Count == 1)
            {<h3 style="margin-top:20px;margin-bottom:20px">Diagrama Arquitectura Lógica</h3> }
            else
            { <h3 style="margin-top:20px;margin-bottom:20px">Diagramas Arquitectura Lógica</h3>}

            <div class="card-deck">
                @foreach (var im in Model.urlsArquiLogica)
                {
                    <div class="card">
                        <div class="card-header">
                            @Html.Label(im.nombre)
                        </div>
                        <div class="card-body">
                            <img id=@im.nombre src=@im.url alt="Card image cap" onclick="handleClick(this);" style="height:auto;width:100%" />
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div id="nombreImagen"></div>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <img class="img-responsive" id="img01" style="max-width:100%;">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById('myModal');
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("nombreImagen");

    function handleClick(sender) {
        modal.style.display = "block";
        modalImg.src = sender.src;
        captionText.innerHTML = sender.id;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
