@using AppWebERS.Models;
@{
    ViewBag.Title = "Diagramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProyectoActual = (Proyecto)ViewData["proyecto"];
    //var TipoUsuario = (int)ViewData["permiso"];
}


<!--<ul class="nav nav-tabs">
       <li class="nav-item">
           <a class="nav-link" href="@*Url.Action("Detalles", "Proyecto", new { id = ProyectoActual.IdProyecto })*@">Detalles</a>
       </li>
       <li class="nav-item">
           <a class="nav-link active" href="@*Url.Action("ListarRequisitosMinimalista", "Proyecto", new { id = ProyectoActual.IdProyecto})*@">Requisitos</a>
       </li>
         <li class="nav-item">
            <a class="nav-link" href="@*Url.Action("ListarDiagramas", "Proyecto", new { id = ProyectoActual.IdProyecto})*@">Diagramas</a>
        </li>
       <li class="nav-item">
           <a class="nav-link" href="@*Url.Action("ListaUsuarios", "Proyecto", new { id = ProyectoActual.IdProyecto })*@">Usuarios</a>
       </li>
       </ul>S

       <div>-->

<h2>Diagramas</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Detalles", "Proyecto", new { id = ProyectoActual.IdProyecto })">Detalles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListarRequisitosMinimalista", "Proyecto", new { id = ProyectoActual.IdProyecto })">Requisitos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action(" ListarDiagramas", "Proyecto", new { id = ProyectoActual.IdProyecto })">Diagramas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListaUsuarios", "Proyecto", new { id = ProyectoActual.IdProyecto })">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ListaActores", "Proyecto", new { id = ProyectoActual.IdProyecto })">Actores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("HistorialCambios","Proyecto",new { id = ProyectoActual.IdProyecto})">Historial de cambios</a>
    </li>
</ul>


<div class="dropdown-divider"></div>

<a href="../../Diagrama/SubirDiagrama/@ProyectoActual.IdProyecto" class="btn btn-primary w-auto">Agregar diagrama</a>

<div class="row mt-1">
    <div clsss="col-4">
        <div class="card mx-2 my-2">
            <h4 class="card-header">Diagrama de casos de uso</h4>
            <div class="card-body">
                <img class="card-img-bottom" src="https://i-msdn.sec.s-msft.com/dynimg/IC378068.jpeg" alt="Card image cap">
            </div>
            <div class="card-footer">
                <p class="card-text">
                    Diagrama de casos de uso del proyecto AppDERS
                </p>
                <a href="#!" class="btn btn-primary">Ampliar</a>
            </div>
        </div>
    </div>
</div>


