@{
    /**/

    ViewBag.Title = " Modificar Jefe Proyecto";

}
@using (Html.BeginForm("ModificarJefeProyecto", "Proyecto"))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h2>Modificar Jefe Proyecto</h2>
    <h4>Seleccione el Usuario</h4>
    @if (!ViewBag.listaVacia) {
    <div class="card-body table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre De Usuario</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">          </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in @ViewBag.MiListadoUsuarios)
                {
                    <tr class="text-center">
                        <td data-info="info">@usuario.Rut</td><!-- Reemplazar por como quiera que le pongan en el foreach a la variable. Ej: (arroba)Item.Nombre -->
                        <td data-info="info">@usuario.Nombre</td>
                        <td data-info="info">@usuario.CorreoElectronico</td>
						<td>
							@Html.ActionLink("Asignar Jefe", "ModificarJefeProyectoLogico", new { rut = usuario.Rut, id = @ViewBag.idProyecto }, new { @class = "btn btn-primary", id = "btnModificar", type = "button" })
						</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    <div>
        <h6 class="text-danger">@ViewBag.MessageErrorProyectos</h6>
    </div>

    <div><h6>@ViewBag.Message</h6></div>
    <script>
        
    </script>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            
            @Html.ActionLink("Regresar","Detalles",new {  id = @ViewBag.idProyecto }, new { @class = "btn btn-primary", id = "btnModificar", type = "button" })
        </div>
    </div>



</div>
}
