
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("/Scripts/quilljs/quill.snow.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mx-0">
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-3">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link " })</li>
                <li class="nav-item mr-3 ">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link " })</li>
                @if (Request.IsAuthenticated)
                {
                    string usuario = Html.Action("RetornarTipoUsuarioAutentificado", "Cuenta").ToString();
                    if (usuario.Equals("SYSADMIN"))
                    {
                        <li class="nav-item mr-3 ">@Html.ActionLink("Usuarios", "ListarUsuarios", "Cuenta", new { area = "" }, new { @class = "nav-link " })</li>
                    }
                    else
                    {
                        <li class="nav-item mr-3">@Html.ActionLink("Solicitudes", "ListadoSolicitudUsuario", "SolicitudDeUsuario", new { area = "" }, new { @class = "nav-link " })</li>
                    }
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content align-content-center my-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!--Incluye la alerta en la ventana solo si hay un TempData[alert] pendiente-->
    @Html.Partial("_AlertaPartial")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/alertaPartialScript.js")
    @Scripts.Render("/Scripts/quilljs/quill.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
