@using AppWebERS.Models
@model List<ApplicationUser>



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card my-1 mx-5 h-100">
    <div class="card-header">
        <h4>Usuarios disponibles</h4>
    </div>
    @try
    {
        if (Model.Count != 0)
        {
            using (Html.BeginForm())
            {
                string texto;
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Rut</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                if (usuario.Tipo.Equals("USUARIO"))
                                {
                                    <tr class="text-center">
                                        <td data-info="info">@usuario.UserName</td><!-- Reemplazar por como quiera que le pongan en el foreach a la variable. Ej: (arroba)Item.Nombre -->
                                        <td data-info="info">@usuario.Rut</td>
                                        <td data-info="info">@usuario.Email</td>
                                <td data-info="info">@(@usuario.Nombre + " " + @usuario.Apellido)</td>
                                        <td data-info="info">@usuario.Tipo</td>
                                        <td>

                                            <div class="dropdown d-lg-none">
                                                <button class="btn btn-secondary dropdown-toggle" type="submit" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-flip="false">
                                                    Opciones
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="triggerId">

                                                    @Html.ActionLink("Modificar", "ModificarCuenta", new { rut = usuario.Rut }, new { @class = "dropdown-item", id = "btnModificar" })
                                                    @if (usuario.Estado)
                                                    {
                                                        texto = "Deshabilitar";
                                                    }
                                                    else
                                                    {
                                                        texto = "Habilitar";
                                                    }

                                                    @Html.ActionLink(texto, "DeshabilitarUsuario", "Cuenta", new { rut = usuario.Rut }, new { @class = "dropdown-item", d = "btnModificar" })


                                                </div>
                                            </div>

                                            <div class="d-none d-lg-block">
                                                @Html.ActionLink("Modificar", "ModificarCuenta", new { rut = usuario.Rut }, new { @class = "btn btn-secondary", id = "btnModificar", type = "button" })
                                                @if (usuario.Estado)
                                                {
                                                    texto = "Deshabilitar";
                                                }
                                                else
                                                {
                                                    texto = "Habilitar";
                                                }

                                                @Html.ActionLink(texto, "DeshabilitarUsuario", "Cuenta", new { rut = usuario.Rut }, new { @class = "btn btn-secondary", type = "button", d = "btnModificar" })

                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    }
    catch (Exception e)
    {
        <!-- <h5>No existen usuarios registrados</h5>-->
        <div class="alert alert-warning fade show w-50 mx-auto mt-3" role="alert">
            <strong>No hay usuarios registrados!</strong> <br /> Debe registrar usuarios para poder modificar su cuenta.
        </div>
    }
    <a class="btn btn-primary" href="@Url.Action("Register","Cuenta")">Agregar Usuario</a>
</div>


<div>
</div>
